@charset "UTF-8";
/* 共通　*/
html {
  color: #000;
  background: #fff;
  font-size: 0.9rem;
  max-width: 1024px;
  margin: 0 auto;
}

section {
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
  border-radius: 20px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}
.container h3 {
  padding: 50px 0 20px 0;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}
.container h3 span {
  display: block;
  padding-top: 0.3em;
  font-size: 0.6em;
  font-weight: normal;
  letter-spacing: normal;
}
.container .wrapper {
  padding: 30px 0;
}
.container .wrapper .card {
  background: #fff;
  border: 1px solid #c2c6c9;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  gap: 20px;
}
.container .wrapper .card .thumb img {
  min-width: 100px;
}
.container .wrapper .card .description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.container .wrapper .card .description h3 {
  padding: 0;
  text-align: left;
}
.container .wrapper .card .description h3 span {
  display: block;
  font-size: 0.7em;
  font-weight: bold;
}
.container .wrapper .card .description dl {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}
.container .wrapper .card .description dl dt {
  width: 50px;
  padding: 2px 30px;
  border-radius: 5px;
  background: #000;
  color: #fff;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .wrapper .card .description dl dd {
  flex: 1;
}
.container .wrapper .card p {
  text-align: center;
}
.container .wrapper .card p a {
  background: #df3232;
  padding: 5px 30px;
  white-space: nowrap;
}
.container p {
  text-align: center;
}
.container p a {
  color: #fff;
  background: #000;
  padding: 10px 40px;
}

/* header ロゴ+ナビゲーション */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20%;
  margin: 50px auto 20px auto;
}
header .container .logo {
  margin-left: 20px;
}
header .container .logo h1 {
  font-size: 40px;
}
header .container #global {
  max-width: calc(80% - 100px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 20px;
}
header .container #global .sns {
  width: 100px;
  height: auto;
}
header .container #global ul {
  max-width: 100%;
  display: flex;
}
header .container #global ul li:nth-of-type(1) a::before {
  content: none;
}
header .container #global ul li {
  max-width: 100%;
  white-space: nowrap;
  position: relative;
}
header .container #global ul li a {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 0 10px;
}
header .container #global ul li a::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  background: #000;
  height: 2em;
}
header .container #global ul li a span {
  display: block;
  font-weight: bold;
}

/* main visual */
.main .container {
  max-width: 1024px;
  padding: 0;
  position: relative;
}
.main .container .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .container .swiper .swiper-button-prev, .main .container .swiper .swiper-button-next {
  color: #fff;
  top: 30%;
}
.main .container .swiper .swiper-button-prev:after, .main .container .swiper .swiper-button-next:after {
  font-size: 50px;
  font-weight: bold;
}
.main .container h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  white-space: nowrap;
  font-size: 40px;
  z-index: 30;
}

/* プロフィール */
.concept {
  position: relative;
  margin-top: -350px;
  z-index: 10;
}
.concept .container .wrapper {
  padding: 0;
}
.concept .container .wrapper .card {
  color: #fff;
  background: rgba(123, 123, 123, 0.8);
  padding: 20px;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.concept .container .wrapper .card .thumb {
  width: 180px;
  height: 260px;
  flex-shrink: 0;
}
.concept .container .wrapper .card .thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.concept .container .wrapper .card .description {
  flex: 1;
  padding: 0;
}
.concept .container .wrapper .card .description p {
  padding: 0;
  text-align: left;
  line-height: 2.5em;
}
.concept .container .wrapper .card .description p a {
  background: #fff;
  color: #000;
  font-weight: bold;
}

/*　menu shop*/
.menu .wrapper, .event .wrapper, .shop .wrapper, .e-contents .wrapper {
  padding: 20px 0 50px 0;
}
.menu .wrapper p, .event .wrapper p, .shop .wrapper p, .e-contents .wrapper p {
  margin: 0 auto;
}

/*　menu shop*/
.shop .wrapper, .menu .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2%;
  row-gap: 20px;
}
.shop .wrapper .card, .menu .wrapper .card {
  width: 32%;
  gap: 10px;
  justify-content: flex-start;
}
.shop .wrapper .card .thumb img, .menu .wrapper .card .thumb img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.shop .wrapper .card .description, .menu .wrapper .card .description {
  padding: 15px;
  justify-content: space-between;
  flex: 1;
  gap: 15px;
}
.shop .wrapper .card .description h4, .menu .wrapper .card .description h4 {
  font-weight: bold;
  font-size: 1.1rem;
}
.shop .wrapper .card .description p:nth-of-type(1), .menu .wrapper .card .description p:nth-of-type(1) {
  text-align: left;
}
.shop .wrapper .card .description p:nth-of-type(2), .menu .wrapper .card .description p:nth-of-type(2) {
  margin-top: 10px;
}

/* event, e-contents */
.event .container .wrapper, .e-contents .container .wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.event .container .wrapper .card, .e-contents .container .wrapper .card {
  flex-direction: row;
  padding: 20px;
  align-items: center;
}
.event .container .wrapper .card .thumb img, .e-contents .container .wrapper .card .thumb img {
  min-width: 100px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 80% center;
     object-position: 80% center;
}
.event .container .wrapper .card .description, .e-contents .container .wrapper .card .description {
  gap: 20px;
}
.event .container .wrapper .card .description .information, .e-contents .container .wrapper .card .description .information {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.event .container .wrapper .card .description .information dl, .e-contents .container .wrapper .card .description .information dl {
  gap: 5px;
}
.event .container .wrapper .card .description .information dl dt, .e-contents .container .wrapper .card .description .information dl dt {
  padding: 2px 35px;
}
.event .container .wrapper .card .description .information dl dd, .e-contents .container .wrapper .card .description .information dl dd {
  text-align: left;
}
.event .container .wrapper .card .description p, .e-contents .container .wrapper .card .description p {
  margin: 0;
  text-align: left;
}

/* shop */
.shop .wrapper .card .thumb {
  position: relative;
}
.shop .wrapper .card .thumb .label {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}
.shop .wrapper .card .thumb .label span {
  padding: 3px 12px;
  background: #ff9b49;
  color: #fff;
  white-space: nowrap;
}
.shop .wrapper .card .description {
  padding-bottom: 20px;
}

/* shop icons */
.my-icons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
  margin: 20px auto;
  gap: 10px;
}

/* shop category */
.category-labels {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}
.category-labels span {
  border: 1px solid #000;
  padding: 5px 25px;
  flex: 1;
  text-align: center;
}

/* event */
.event .container .wrapper .card {
  border: none;
}

/*背景の色付きスタイル*/
article section {
  padding-bottom: 70px;
}

section.concept {
  padding-bottom: 0;
}

section.bg {
  -webkit-clip-path: polygon(0% 3%, 100% 0%, 100% 97%, 0% 100%);
          clip-path: polygon(0% 3%, 100% 0%, 100% 97%, 0% 100%);
  background: #eef0f1;
}
section.bg .container {
  width: 90%;
}

.shop.bg {
  -webkit-clip-path: polygon(0% 3%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 3%, 100% 0%, 100% 100%, 0% 100%);
}

/* ネガティブマージン */
.ng-margin {
  margin-top: -350px;
}
.ng-margin .container {
  position: relative;
  padding: 0 20px 30px 20px;
  background: #fff;
  box-sizing: border-box;
  z-index: 100;
}

/* footer */
footer {
  background: #000;
  height: 100px;
  width: 100%;
  bottom: 0;
}

/*縦メニュー*/
.division {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
}
.division header .container {
  min-width: 250px;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.division header .container .logo {
  width: 100%;
}
.division header .container #global {
  align-items: flex-start;
  gap: 50px;
}
.division header .container #global .sns {
  order: 3;
}
.division header .container #global ul {
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.division header .container #global ul li a {
  padding: 0;
  align-items: flex-start;
}
.division header .container #global ul li a::before {
  content: none;
}
.division main {
  flex: 1;
  min-width: 0;
}
.division main .concept {
  margin-top: -300px;
  width: 90%;
}
.division main section {
  max-width: 100%;
  margin: 0 auto;
}
.division main section.bg .container {
  width: 90%;
}

/* post */
.content h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 120px;
}
.content h1 span {
  display: block;
  font-weight: normal;
}
.content .date {
  text-align: right;
  font-size: 1.5rem;
  padding-top: 20px;
}

.v-card {
  padding-bottom: 20px;
}
.v-card img {
  width: 100%;
  height: auto;
}
.v-card .container {
  margin-top: 50px;
  max-width: 800px;
  font-size: 1.5rem;
}
.v-card .container p {
  text-align: left;
  margin-bottom: 50px;
}
.v-card .container dl dt {
  margin-bottom: 10px;
}
.v-card .container dl dd {
  margin-bottom: 40px;
}

/* 関連記事　*/
.recommended-magazines .container {
  background: #eef0f1;
}
.recommended-magazines .container .card a {
  display: flex;
  gap: 20px;
  align-items: center;
}/*# sourceMappingURL=style2.css.map */